{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Measure team performance for your Strava group activities</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">           
          	<div class="form-row">
                <a href="https://www.strava.com/oauth/authorize?client_id=9906&response_type=code&redirect_uri=http://gosuperchamp.com/activities" id="strava-connect"><img src="{% static 'img/btn_strava_connectwith_orange@2x.png' %}"></a>
            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Call to Action -->
  <section class="call-to-action text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">What's Superchamp about?</h2>
          <p class="lead">
          	The purpose of this project is to encourage cyclists and runners to achieve their goals by
          	participating in group activities on Strava and working as a team.
          	</p>
          	<p class="lead">The project is maintained by <a href="https://twitter.com/uxBratt" target="_blank">James Bratt</a> - a software engineer, keen cyclist and Strava user.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}