{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
	  		<div class="row">
		  		<div class="col-md-8">
			    	<h1>Group Activities</h1>
			    	<p class="lead">Group activities have been filtered out from your entire Strava activity log.
			    	You can now view an activities team performance rating.</p>
		  		</div>
	  		</div>
  		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span>Total Group Activities: {{ group_activities|length }}</span>
			</div>
			<div class="col-md-6 d-none d-sm-block">
				<nav aria-label="...">
			  		<ul class="pagination justify-content-end">
					    <li class="page-item {% if is_first_page is True %}disabled{% endif %}">
				      		<a class="page-link" href="/activities/?page={{prev_page}}" tabindex="-1">Previous</a>
					    </li>
					    <li class="page-item {% if is_last_page is True %}disabled{% endif %}">
				      		<a class="page-link" href="/activities/?page={{next_page}}">Next</a>
					    </li>
			  		</ul>
				</nav>
				<span class="pull-right">Page: {{ page }}</span>
			</div>
		</div>
		{% if total_activities %}
		{% for activity in total_activities %}
			{% if forloop.first %}<div class="row activities">{% endif %}
				<div class="col-md-6">
					<div class="card {% if activity.athlete_count == 1 %}bg-light{% endif %}">
				  		<h5 class="card-header">{{ activity.name }}</h5>
				  		<div class="card-body">
					    	<p class="card-text"><strong>Athletes: </strong>{{ activity.athlete_count }}</p>
					    	<p class="card-text"><strong>Activity Type: </strong>{{ activity.type }}</p>
				    		<a class="btn {% if activity.athlete_count == 1 %}disabled non-group btn-secondary{% else %} btn-primary{% endif %}" href="{{ activity.id }}">View Group Performance</a>
				  		</div>
					</div>
				</div>
		    {% if forloop.counter|divisibleby:2 %}</div><div class="row activities">{% endif %}
		    {% if forloop.last %}</div>{% endif %}
		{% endfor %}
		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<nav aria-label="...">
			  		<ul class="pagination justify-content-end">
					    <li class="page-item {% if is_first_page is True %}disabled{% endif %}">
				      		<a class="page-link" href="/activities/?page={{prev_page}}" tabindex="-1">Previous</a>
					    </li>
					    <li class="page-item {% if is_last_page is True %}disabled{% endif %}">
				      		<a class="page-link" href="/activities/?page={{next_page}}">Next</a>
					    </li>
			  		</ul>
				</nav>
				<p class="pull-right">Page: {{ page }}</p>
			</div>
		</div>
	</div>
{% endblock content %}
