{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
  <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <title>Superchamp</title>
	
	    <!-- Bootstrap core CSS -->
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	
	    <!-- Custom fonts for this template -->
	    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	    <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	
	    <!-- Custom styles for this template -->
	    <link href="{% static 'landing-page.css' %}" rel="stylesheet">

		{% block stylesheets %}
		{% endblock stylesheets %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
		  <!-- Navigation -->
		  <nav class="navbar navbar-light bg-light static-top">
		    <div class="container">
		      <a class="navbar-brand" href="/">Superchamp</a>
		    </div>
		  </nav>
		  
		{% block content %}
		{% endblock content %}
		{% csrf_token %}

		 <section class="call-to-action text-white text-center">
		   <div class="overlay"></div>
		   <div class="container">
		     <div class="row">
		       <div class="col-xl-9 mx-auto">
		         <p class="lead">
		         	If you are interested in hearing about new features for Superchamp then
		         	you can either sign up to our newsletter or follow us on Twitter.
		         	</p>
		       </div>
		       <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		         <form>
		           <div class="form-row">
		             <div class="col-12 col-md-9 mb-2 mb-md-0">
		               <input type="email" class="form-control form-control-lg signupemail" placeholder="Enter your email...">
		             </div>
		             <div class="col-12 col-md-3">
		               <button type="submit" class="btn btn-block btn-lg btn-primary signup">Sign up!</button>
		             </div>
		           </div>
		         </form>
		         <a href="https://twitter.com/gosuperchamp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gosuperchamp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		       </div>
		     </div>
		   </div>
		 </section>

		  <!-- Footer -->
		  <footer class="footer bg-light">
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
		          <p class="text-muted small mb-4 mb-lg-0">&copy; Superchamp 2017. All Rights Reserved.</p>
		        </div>
		        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
		          <ul class="list-inline mb-0">
		            <li class="list-inline-item mr-3">
		              <a target="_blank" href="https://twitter.com/gosuperchamp">
		                <img src="{% static 'img/api_logo_pwrdBy_strava_stack_light.png' %}">
		              </a>
		            </li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </footer>
		
		<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'ajaxcsrf.js' %}"></script>
		<script src="{% static 'mailinglist/subscribe.js' %}"></script>
		<script>
			$( document ).ready(function() {
			    $('.card.bg-light').on('click', function() {
				    alert('This is not a group activity!!');
			    });
			});
		</script>
		{% block scripts %}
		{% endblock scripts %}
      {% if request.META.HTTP_HOST == "gosuperchamp.com" %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-100764286-1', 'auto');
          ga('send', 'pageview');

        </script>
      {% endif %}
    </body>
</html>
